 /* SCSS Som Energia */
 
 $background-color: #f4f4f4;
 $chart-color1: #000;
 $chart-color2: #9faaae;
 $chart-color3: #aeea00;

 body {
     
    background-color: $background-color;

    nav.navbar {
        .brand-logo {
            font-size: 18px;
            img {
                padding-top: 10px;
                max-height: 50px;
            }
        }    
    }

    .card {
        .card-metrics {
            .card-metric {
                cursor: pointer;
                padding: 24px;

                .card-metric-title {
                    font-weight: 500;
                }

                .card-metric-value {
                    font-size: 26px;
                    font-weight: 300;
                }
                
                .card-metric-change {
                    color: $chart-color3;
                }
            }
        }
    }    

    [type="radio"]:checked+span:after {
        background-color: $chart-color3;
        border: 2px solid $chart-color3;
    }

    .svg-container {
        position: relative;
        height: 0;
        width: 100%;
        padding: 0;
        padding-bottom: 100%;

        svg {
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
        }

        .bar {
            fill: $chart-color3;
        }

        path {
            stroke: $chart-color2;
            stroke-opacity: 0.3;
        }

        .tick {
            line {
                @extend path;
            }
        } 

        text {
            font-size: 14px;
            fill: $chart-color1;
            color: $chart-color2;
        }

        text.label {
            font-size: 16px;
            font-weight: 400;
            color: $chart-color2;
            fill: $chart-color2;
        }

        text.value {
            color: $chart-color1;
        }
    }    
}